<div class="banner banner-home">
    <h1>Cocktails party!</h1>
    <p>Here you can select the cocktail of your choice or add a brand new one! </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="mt-4">Choose a cocktail</h2>
      <ul class="cards-cocktails">
        <% @cocktails.each do |cocktail| %>
          <li class="card-cocktail">
            <div class="cocktail-info" style= "background: url(#{image_tag 'logo.png'})" >
              <%#= link_to cocktail.name.upcase, cocktail_path(cocktail) %>
              <% if cocktail.photo.attached? %>
                <%= link_to cocktail_path(cocktail) do %>
                  <p><%= cocktail.name.upcase %></p>
                <% end %>
              <% else %>
                <%= link_to cocktail_path(cocktail) do %>
                  <%#= image_tag 'https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', size: "100x100" %>
                  <p><%= cocktail.name.upcase %></p>
                <% end %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
      <%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-primary', class: 'btn-white btn-white-big' %>
    </div>
  </div>
</div>
