<div class="container">
  <div class="row">
    <div class="col-12">
    </div>
  </div>
</div>
<% if @cocktail.photo.attached? %>
  <div class="banner banner-cocktail" style= "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path(@cocktail.photo.key) %>)">
      <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="mt-4"><%= @cocktail.name %></h1>
          <% if @cocktail.doses.any? %>
            <div class="cocktail-details my-3">
              <h2>Ingredients and doses</h2>
              <ul>
                <% @cocktail.doses.each do |dose| %>
                <li>
                  <div>
                    <p>
                      <%= dose.ingredient.name %> 
                      <span> <%= dose.description %></span>
                      <span><%= link_to 'Delete', dose_path(dose), method: :delete, class: 'badge badge-danger' %></span>
                    </p>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mt-4"><%= @cocktail.name %></h1>
        <% if @cocktail.doses.any? %>
          <div class="cocktail-details my-3">
            <h2>Ingredients and doses</h2>
            <ul>
              <% @cocktail.doses.each do |dose| %>
              <li>
                <div>
                  <p>
                    <%= dose.ingredient.name %> 
                    <span> <%= dose.description %></span>
                    <span><%= link_to 'Delete', dose_path(dose), method: :delete, class: 'badge badge-danger' %></span>
                  </p>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
    <div class="row">
      <div class="col-12">
        <%= link_to '< Back to home', root_path, class: 'link-black my-3' %>
        <h2 class="mt-4">Add an ingredient</h2>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient, collection: Ingredient.all, input_html: { id: "ingredients-dropdown" }, include_hidden: false %>
          <%= f.input :description %>
          <%= f.submit 'Add ingredient', class: 'btn-white'%>
        <% end %>
    </div>
  </div>
</div>
