<div class="container">
  <div class="row">
    <div class="col-12 text-center">
        <h1 class="mt-4">Search results(<%= @cocktails.count %>)</h1>
      <% if @cocktails.any? %>
        <ul class="cards-cocktails">
          <% @cocktails.each do |cocktail| %>
            <li class="card-cocktail">
                  <%= link_to cocktail_path(cocktail) do %>
                    <% if cocktail.photo.attached? %>
                      <div class="cocktail-info" style= "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path(cocktail.photo.key) %>)" >
                    <% else %>
                      <div class="cocktail-info" style= "background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path 'https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60' %>)" >
                    <% end %>
                      <p><%= cocktail.name.upcase %></p>
                    </div>
                  <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
      <p> Sorry, no cocktail by that name! </p>
      <% end %>
    </div>
  </div>
</div>
